@model Model.EF.Employee
@using Inventory.Common;
@Html.Partial("MessagePartial")
@if (Model != null)
{
    <input type="hidden" id="employeeId" value="@Model.ID" />
    <b>Thông Tin Người nhập</b>
    <h5><b>Tên người nhập : </b> @Model.Name</h5>
    <h5><b>Email : </b> @Model.Email</h5>
    <h5><b>Số điện thoại : </b> @CommonConstants.FormatPhoneNum(Model.Phone)</h5>
    <h5><b>Địa chỉ : </b> @Model.Address</h5>
}

